th {
	text-align: left;
}

.settingsBox {
	width: 280px;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	line-height: 1.5;
	height: 340px;
	position: relative;
	float: left;
}
.settingsBox select, .settingsBox button {
	float: right;
	position: relative;
}

body {
	font-family: sans-serif;
}

table.dataTable tbody td {
	padding: 2px;
}

.smallFont {
	font-size: 9px;
}

.infodiv {
	min-height: 90px;
}